@import url('https://fonts.googleapis.com/css?family=ITC%20Avant%20Garde%20Gothic%20CE:700|ITC%20Avant%20Garde%20Gothic%20CE:400');

body {
  font-family: 'ITC Avant Garde Gothic CE';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'ITC Avant Garde Gothic CE';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 3.366rem; /* 53.92px */}

h2 {font-size: 2.525rem; /* 40.32px */}

h3 {font-size: 1.894rem; /* 30.24px */}

h4 {font-size: 1.421rem; /* 22.72px */}

h5 {font-size: 1.066rem; /* 17.12px */}

small {font-size: 0.600rem; /* 9.6px */}

#hero{
    position: relative;
    height: fit-content;
}

#hero img{
    width: 100%;
    height: auto;
    filter: brightness(40%);
    margin: 0;
}

#hero #hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
#hero h1{
    font-weight: 100;
    margin: 0;
    font-size: 10vw;
}
#hero p{
    margin: 0;
}